<%- include('../template/header'); %>
<style>
  #loader {
    /* width: 600px; */
    height: 450px;
    margin: auto;
  }

  #loader.loading {
    background: url(/dist/img/loader1.gif) no-repeat center center;
    /* width: 32px; */
    margin: auto;
  }
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-md-12">
          <div id="loader" class="loading img-center" style="display: none;"></div>
        </div>
        <div class="col-sm-6" id="display-content">
          <h1><%= heading %></h1>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <% if(message){ %>
      <div class="alert alert-<%= message.type; %> alert-dismissible fade show" role="alert">
        <strong><%= message.message; %></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% } %>
      <!-- SELECT2 EXAMPLE -->
      <div class="card card-default">
        <div class="card-header">
          <h3 class="card-title"><%= sub_heading %></h3>
          <div class="card-tools">
            <!-- <a href="/admin/create_user_edit" class="btn btn-primary"
              >Add New</a
            > -->
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="row" id="divToPrint">
            <div class="col-md-12">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <!-- <th>ARDB</th> -->
                    <th>Name</th>
                    <th>User ID</th>
                    <th>Email</th>
                    <th>User Type</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% if(user_list){ var i = 1; user_list.forEach((dt) => { %>
                  <tr>
                    <td><%= i %></td>
                    <!-- <td><%= //dt.ardb_name %></td> -->
                    <td><%= dt.user_name %></td>
                    <td><%= dt.user_id %></td>
                    <td><%= dt.email_id %></td>
                    <td><%= dt.user_type != 'A' ? 'User' : 'Admin' %></td>
                    <td><span id="user_status_<%= i %>"><%= dt.user_status == 'A' ? 'Active' : (dt.user_status == 'D' ? 'De-Active' : 'Un-Approved') %></span></td>
                    <td>
                      <!-- <a href="create_user_edit?id=<%= dt.sl_no %>" class="btn btn-primary">
                        Edit
                      </a> -->
                      <div class="form-group">
                        <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                          <input type="checkbox" class="custom-control-input" id="catv_user_<%= i %>" name="catv_user" <%= dt.user_status == 'A' ? 'checked' : '' %> onchange="user_action(<%= i %>,<%= dt.user_id %>)">
                          <label class="custom-control-label" for="catv_user_<%= i %>"></label>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <% i++; }) } %>
                </tbody>
              </table>
            </div>
          </div>

          <center>
            <button type="button" class="btn btn-outline-success mt-4" onclick="printDiv()">
              Print
            </button>
          </center>
        </div>
      </div>
      <!-- /.card -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<%- include('../template/footer'); %>

<script>
  $(function() {
    // $("#example1").DataTable({
    // "responsive": true, "lengthChange": false, "autoWidth": false,
    // "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    // }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $("#example2").DataTable({
      paging: true,
      lengthChange: false,
      searching: true,
      ordering: true,
      info: true,
      autoWidth: false,
      responsive: true,
    });
  });
</script>
<script>
  function user_action(id, user_id) {
    var flag = 'U',
      text = 'De-Active';
    if ($('#catv_user_' + id).is(':checked')) {
      flag = 'A'
      text = 'Active'
    } else {
      flag = 'U';
      text = 'De-Active';
    }
    $.ajax({
      type: "POST",
      url: "/admin/update_user_status",
      data: {
        flag,
        user_id
      },
      dataType: 'html',
      beforeSend: function() {
        // Show image container
        $("#loader").show();
        $('#display-content').hide();
      },
      success: function(result) {
        var res = JSON.parse(result);
        // console.log(res);
        if (res.suc > 0) {
          $('#user_status_' + id).text(text)
        }
      },
      complete: function(data) {
        // Hide image container
        $("#loader").hide();
        $('#display-content').show();
      }
    });
  }
</script>
<script>
  function printDiv() {
    var divToPrint = document.getElementById("divToPrint");

    var WindowObject = window.open("", "Print-Window");
    WindowObject.document.open();
    WindowObject.document.writeln("<!DOCTYPE html>");
    WindowObject.document.writeln(
      '<html><head><title></title><style type="text/css">'
    );

    WindowObject.document.writeln(
      "@media print { .center { text-align: center;}" +
      "                                         .inline { display: inline; }" +
      "                                         .underline { text-decoration: underline; }" +
      "                                         .left { margin-left: 315px;} " +
      "                                         .right { margin-right: 375px; display: inline; }" +
      "                                          table { border-collapse: collapse; font-size: 10px;}" +
      "                                          th, td { border: 1px solid black; border-collapse: collapse; padding: 6px;}" +
      "                                           th, td { }" +
      "                                         .border { border: 1px solid black; } " +
      "                                         .bottom { bottom: 5px; width: 100%; position: fixed " +
      "                                       " +
      "                                   } } </style>"
    );
    WindowObject.document.writeln('</head><body onload="window.print()">');
    WindowObject.document.writeln(divToPrint.innerHTML);
    WindowObject.document.writeln("</body></html>");
    WindowObject.document.close();
    setTimeout(function() {
      WindowObject.close();
    }, 10);
  }
</script>